@import "tailwindcss";

@font-face {
    font-family: "priceDown";
    /* src: url("./pricedown.otf"); */
    src: url('/pricedown.otf') format('opentype');
}

html,body{

    width: 100%;
    width: 100%;
    font-family: "priceDown";
}